Package: com.karin722.minbarx
Name: MinbarX
Version: 0.0.1
Architecture: iphoneos-arm
Description: mini homebar.
Maintainer: karin722
Author: karin722
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
